.wp-block-movies-favorite-movie-block {
	background-color: #21759b;
	color: #fff;
	padding: 16px;

	h3 {
		margin: 10px 0 20px;
		font-style: normal;
	}

	.block-editor-plain-text {
		background-color: #21759b;
		font-style: italic;
	}
}
